* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Circular Std', sans-serif;
    font-stretch: normal;
    overflow-x: hidden;
    

                                             
}

 body {
    background: #c7d4dd;
    color: #363636;
    overflow-x: hidden;
    
}

iframe {
  width: 40%;
  height: 40%;
}

div {
    display: block;
}


section {
    height: fit-content;
    overflow-y: hidden;
}

li {
  list-style-type: circle; /* Bullet style (can be 'circle', 'square', etc.) */
  font-family: 'Georgia';
  font-size: 15px;
  margin: 0 auto;
  color: black;
  line-height: 25px;
}


li > p {
  margin-bottom: 10px; /* Spacing between list items */
  font-family: 'Georgia';
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  margin: 0 auto;
  color: black;
  line-height: 25px;
  display: inline;
}


.header {
    position: relative;
    top: 0;
    left: 0; 
    width: 100%;
    padding: 10px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: 100%;
    background-color: transparent;
    border-bottom: 2px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}


.home {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 15%;
    padding-bottom: 50px;
}


.home-content {
    background-color: transparent;
    width: 60vw;
    left: 150px;
    top:15%;
    position: absolute;

}

.home-content h1 {
    position: relative;
    font-size: 70px; 
    font-weight: 700px;
    padding-top: 10px;
    animation: cool-text;
    animation-duration: 1.5s;
    animation: fadeIn 1s ease-in forwards;
    overflow-y: hidden;

}

.home-content h3 {
    position: relative;
    font-size: 50px;
    font-weight: 1000px;
    color: #9a9999;
    animation: fadeIn 1s ease-in forwards;
    overflow-y: hidden;
}

.home-content p {
    position: relative;
    font-size: 25px;
    font-weight: 700px;
    padding-top: 10px;
    line-height: 45px;
    color: #353535;
    font-weight:350;   
    overflow-y: hidden;
}



.break1 {
    position: relative;
    display: block;
    background-color:white;
    height: 7px;
    width: 100vw;
}

.Project1 {
    position: relative;
    display: block;
    width: 100vw;
    min-height: 50vh;
    background-color: #f2f4f4;
    color: black;
    padding-bottom: 50px;
}



.Project2 {
    position: relative;
    display: block;
    width: 100vw;
    min-height: 50vh;
    background-color: #f2f4f4;
    color: black;
    padding-bottom: 50px;
}


.Header1  {
    padding: 25px;
    width: 75%;
    margin: 0 auto;
    font-style: italic;
    line-height: 40px;
    font-size: 25px;
    font-family: 'Georgia';
    color: black;
    text-align: center;
    border-radius: 10px;
    color: #c21212;
}


.content1 {
    width: 80%;
    margin: 0 auto;
}

.row1 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.col1 {
    padding-right: calc(var(--bs-gutter-x) * 0.8);
    padding-left: calc(var(--bs-gutter-x) * 0.8);
    flex: 0 0 auto;
    width: 33.33333333%;
    line-height: 20px;   
    text-align: center;
  }
    


.text1 {
    font-family: 'Georgia';
    font-size: 15px;
    margin: 0 auto;
    text-align:left;
    color: black;
    line-height: 25px;
    display: inline-block;
}


.subheader1 {
    font-family: 'Georgia';
    font-size: 20px;
    margin: 0 auto;
    text-align: left;
    font-weight: bold;
    color: black;
    overflow-y: hidden;
}

.aboutme {
    position: relative;
    display: block;
    width: 100vw;
    min-height: 40vh;
    background-color: #f2f4f4;
    color: black;
    padding-bottom: 50px;
}

.col2 { 
    padding-right: calc(var(--bs-gutter-x) * 0.8);
    padding-left: calc(var(--bs-gutter-x) * 0.8);
    flex: 0 0 auto;
    width: 50.0%;
    margin-right: 100px;
    top: 0;

}

.bottom-socials { 
    width: 80%;
    bottom: 7%;
    position: absolute;
  }


.social-media {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .social-media >  a {
    width: 13vw;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content:space-evenly;
    margin-left: 0px; /* Add space between buttons */
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
 .social-media > a {
    background-color:#c7d4dd;
    text-decoration: none;    
    color: black;
}

.social-media > a:hover {
    background-color:#5689ad;
    transition-duration: .5s;
    text-decoration: none;    
    color: black;
}



  .Sean {
    border: solid 2px black;
    border-radius: 200px;
    width: 220px;
    height: 220px;
    overflow: hidden;
    background-color:  #c7d4dd;
  }

  .Sean  > img {
    width: inherit;
    height: inherit;
  }

.workbox > p {
    display: inline;
    font-family: 'Georgia'
}

#myPicklist {
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
  }
  
  #myPicklist option {
    font-size: 16px;
    padding: 5px;
  }


.popup-modal, .popup-modal2, .popup-modal3, .popup-modal4, .popup-modal5, .popup-modal6 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
  background-color: #c7d4dd;
  padding: 20px;
  border-radius: 5px;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content code {
  margin-bottom: 0;
  color: black;
}

.code-div {
  border: solid black 2px;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
}

.modal1{
  display: inline-block;
  justify-content: center;
  text-align: left;
}

pre {
font-size: 15px;
}

div > a {
  color: #597cbd;
  font-size: large;
  text-decoration: none;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  display:flex;
  overflow-y: hidden;
}



div > a:hover {
  color: #ff0000;
  transition-duration: .5s;

}


  @media only screen and (max-width: 1000px) {
    .home-content > h3 {
      font-size: 8vw !important; /* Add !important to override other conflicting styles */
    }
    .home-content > h1 {
      font-size: 10vw !important; /* Add !important to override other conflicting styles */
    }

    .home-content > p {
      font-size: 3vw !important;
      line-height: 8vw; /* Add !important to override other conflicting styles */
    }
    iframe {
      width: 95%;
      height: 25vw;
      padding-top: 5vw;
    }
  }


  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }