<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

     <title>Sean Mullins Personal Portfolio</title>
    <link rel="stylesheet" href="/static/home.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" />
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/home.css" />
    <link href="https://fonts.cdnfonts.com/css/circular-std" rel="stylesheet" />
    <script src="/static/javascript/model.js"></script>
    <script src="/static/javascript/popup.js"></script>
    <script src="/static/javascript/text.js"></script>


  </head>

  <body>
    <section class="home">
      <div class="home-content">
        <h1>Hello, I'm Sean.</h1>
        <h3>Data Scientist</h3>
        <p>
          With three years of experience in Data Analytics and Finance, I am
          currently seeking a career transition into the Data Science industry.
          Below, you will find my portfolio showcasing my work where I talk
          about my website, SongSpy, along with other projects. More to come...
        </p>
      </div>  
    </section>

    <div class="break1"></div>

    <section class="Project1">
      <div class="Header1">
        <h2>Identifying Artificailly Generated Music: SongSpy</h2>
      </div>
      <div class="content1">
        <div class="row1">
          <div class="col1">
            <div class="subheader1">Intro</div>
            <div style="height: 10px"></div>
            <div class="text1">
              With the recent surge of Artificial Intelligence methods entering
              popular culture, many individuals and industries are assessing how
              this revolution will impact them. While it’s anticipated that AI
              will influence every sector, the audio and entertainment industry
              is likely to experience significant disruption.
            </div>
            <div style="height: 10px"></div>
            <div class="text1">
              The following model uses Machine Learning to identify artificailly
              generated music.
            </div>
            <div style="height: 10px"></div>
            <div class="subheader1">Data Used</div>
            <div style="height: 10px"></div>
            <div class="text1">
              We gather audio files from popular artists who are being cloned
              (Drake, The Weekend, ect...) using PyTube. The dataset we gather
              is 1,000 audio files from various artists:
            </div>
            <div style="height: 10px"></div>
            <img
              src="/static/Artists.png"
              alt="Artists"
              style="border-radius: 25px; width: 22vw"
            />
            <div class="text1">
              The feature extraction process is somewhat experimental, but the
              two features I found to perform classification the best are:
            </div>
            <ul style="font-size: 15px">
              <li><p>MFCCs — Mel Frequency Cepstral Coefficients </p></li>
              <li><p>Spectral Contrast </p></li>
            </ul>
            <div class="text1">
              Both features emulate the audio file's spectrogram representation. MFCCs are heavily used in speech recognition and genre classification. 
            </div>
            <div style="height: 10px"></div>
            <div class="subheader1">Understand the Data</div>
            <div style="height: 10px"></div>
            <div class="text1">
              We conduct a PCA analysis to better understand the dimensionality
              of our features, and if there are variances between artists that
              we can we confident in.
            </div>
            <img
              src="/static/PCA.png"
              alt="PCA"
              style="border-radius: 25px; width: 25vw"
            />

          </div>
          <div class="col1">
            <div style="height: 10px;"></div>
            <div class="text1">
              We also build a correlation matrix to understand highly correlated features, and where we may be able to be more specific with feature selection.
          </div>
            
            <img 
            src="/static/Corre.png" 
            alt="Corre"
            style="border-radius: 25px; width: 25vw"   
            >
            <div style="height: 10px;"></div>
            <div class="text1">
                As we are analyzing audio files, we can assume that the features exhibit a strong temporal nature and are highly correlated with adjacent features. We can extract every-other feature to get rid of multicolinearity in the dataset, but this ends up halving our feature set resulting in a worse testing accuracy. 
            </div>
            <div style="height: 10px;"></div>
            <div class="subheader1">Model Selection</div>
            <div style="height: 10px"></div>
            <div class="text1">We attempt several ML models (Support Vector Machine, Random Forest, KNN, and Multi-Layer Perceptron) to understand which performs the best. MLP was consistently above all others with an average train/test accuracy of ~80%.</div>
            <div style="height: 10px"></div>
            <img src="/static/Models.png" alt=""
            alt="Models"
            style="border-radius: 25px; width: 25vw" 
            >
            <div style="height:10px"></div>
            <div class="text1">
              The structure of the MLP is simple with one hidden layer of 100 nodes, a RELU activation function, and a softmax output layer for multiclass output. 
              The input values are scaled using a standard scaler, and the model trains over 50 epochs.
            </div>
          </div>
          <div class="col1">
            <div><h6>Choose your model:</h6></div>            
            <select id="myPicklist" onchange="handlePicklistChange()">
                <option value="RF">Random Forest</option>
                <option value="SVM">Support Vector Machine</option>
                <option value="KNN">K-Nearest Neighbors</option>
                <option value="MLP">Multi-Layer Perceptron</option>
              </select>
              <div style="height: 10px;"></div>
              <div>
                <img src="/static/MLP.png" 
                alt="Image" 
                id="myImage"
                style="border-radius: 25px; width: 23vw" 
                >
              </div>
              <div style="height: 10px;"></div>
              <div class="text1">
                We can see that the MLP classifier is more confident in it's predictions whereas the other models make more low-probability predictions.  
               We can then look to understand where the model was inaccurately classifying files.
              </div>
            <div style="height: 10px;"></div>
            <div class="subheader1">Results & Implimentation</div>
            <div style="height: 10px;"></div>
    
            <div class="text1">
              We can see the model had trouble with Drake and The Weekend as these styles are somewhat similar. An improvement on top of this would be to train 
              acapellas only as to get more accurate vocal representations. Alternatively, we can add more data to the artists which the model had trouble with.
            </div>
            <div>
              <img src="/static/styled_matrix.png" alt=""
              alt="Matrix" 
         
              style="border-radius: 25px; width: 22vw" 
            
              >
            </div>
            <div class="text1">
              Now that we have a fairly accurate model prediction, we need to impliment logic to identify if an audio file is artificially generated.
              The ShazamAPI is used to identify songs and compare it to the model prediction. 
            </div>
            <ul>
              <li>
                1) If the model prediction matches the Shazam prediction, this is a real song, 
              </li>
              <li>
                2) If the Shazam prediction is null or is different
              from the model prediction, then this song is artifical.
              </li>
            </ul>


            
        </div>
        </div>
      </div>
    </section>

    <div class="break1"></div>



    <section class="Project2">
      <div class="Header1">
        <h2>Reverse Momentum</h2>
      </div>
      <div class="content1">
        <div class="row1">
          <div class="col1">
            <div class="subheader1">Intro</div>
            <div style="height: 10px;"></div>

            <div class="text1">
              In this writeup we are going to explore a hypothesis I have stemming from stock trading sentiment around companies and adverse events.
            </div>
            <ul>
              <li>

               <p>Ho:</p> Markets are efficient, and Equities reflect the correct market value at any given time, specifically off the back of major events.
              </li>
              <li>
               <p>Ha:</p> Equities tend to be oversold on the back of a major event (poor earnings, negative news, economic factors). 
              </li>
            </ul>
            <div class="text1">
              The COVID pandemic has stirred sizable retail trading interest.
              People are more connected and active about how frequently they trade, leading to adverse events being oversold as people rush to get out or get into a trade. We are going to backtest this hypothesis over different time periods. But first, we need to get data.
            </div>
            <div style="height: 10px;"></div>
            <div class="subheader1">Data Used</div>
            <div style="height: 10px;"></div>
           <div></div>
           <div class="text1">
            We are going to get closing data for all equities listed on the Nasdaq and create a back-testing period from 2010-Present.
           </div>
           <div style="height: 10px;"></div>

           <div class="modal1">
            <a href="#" class="popup-link">CODE</a>
            <div class="popup-modal">
            <div class="popup-content">
                <h2>Python Code</h2>
                <div class="code-div">
                <code class="codeContent">
                  <pre>
import yfinance as yf 
from tqdm import tqdm 
import pandas as pd 

x=0 

for i in tqdm(ticker_list): 

    if x==0:
        temp_df = yf.download('AAPL').Close 
        temp_df = pd.DataFrame(temp_df) 
        temp_df = temp_df.rename(columns={'Close':"AAPL"}) 
        x+=1 
    if x>0: 
        temp_df1 = yf.download(i).Close 
        temp_df1 = pd.DataFrame(temp_df1) 
        temp_df1 = temp_df1.rename(columns={'Close':i}) 

        temp_df = temp_df.merge(temp_df1, how='left',left_index=True, right_index=True)
                </pre>
                </code>
                </div>
                </div>
            </div>
            <script src="/static/javascript/script.js"></script>
        </div>
           <div style="height: 10px;"></div>
           <img src="/static/mytable.png" alt=""
           style="width: 25vw;
           border-radius:5px">
           <div style="height: 10px;"></div>
           <div class="text1">
            We can generate summary statistics for each equity and generate a histogram of return profile of the group. This shape will ultimately resemble the market. 
           </div>
           <img src="/static/NASDAQ_ret.png" alt=""
           style="width: 27vw;
           border-radius:5px">
           <div style="height: 10px;"></div>
           <div class="text1">
            Since volitility will affect our strategy, and ultimately make our return profile more chaotic, we are going to filter out less mature stocks. We will keep equities with at least 400 trading days and a return standard deviation of less than 5%.
           </div>
           <div style="height: 10px;"></div>
           <div class="subheader1">Statistical Test</div>
           <div style="height: 10px;"></div>
           <div class="text1">
            We are going to setup a hypothesis test to see if the returns in our sample are significantly different from the population of returns. We are going to BUY the equity if there is a single-day return of less than 10%, and sell it the next day to understand if the stock was oversold and there is rebuying the following day. To summarize, here is the buy logic:
           </div>
           <div style="height: 10px;"></div>

           <div class="modal1">
            <a href="#" class="popup-link2">CODE</a>
            <div class="popup-modal2">
            <div class="popup-content">
                <h2>Python Code</h2>
                <div class="code-div">
                <code class="codeContent">
                  <pre>
import numpy as np
from scipy import stats
from scipy.stats import norm

Ticker = []
Date = []
ret = []
after_ret = []

for b, c in zip(range(len(SS_df.columns)), SS_df.columns):
    for j,k,l in zip(SS_df.iloc[:,b], SS_df.iloc[1:,b], SS_df.index):
        if j <= -.1:
            ret.append(j)
            after_ret.append(k)
            Date.append(l)
            Ticker.append(c)    
                       
RET_df = pd.DataFrame({'Date': Date, 'Ticker': Ticker, 'Return': ret, 'NextReturn': after_ret})
                </pre>
                </code>
                </div>
                </div>
            </div>
            <script src="/static/javascript/script2.js"></script>
        </div>
        <div style="height: 10px;"></div>
  
           <ul>
            <li>
              <p>Market Capitalization </p>  > $5Bn
            </li>
            <li>
             <p>Std </p>  < 5% & <p> Trading Days </p>   > 400
            </li>
            <li>
              <p>Single-Day return </p>  < -10%
            </li>
           </ul>
          </div>
          <div class="col1">
            <img src="/static/samplevrandom.png" alt=""
            style="width: 27vw;
            border-radius:5px">
            <div style="height: 10px;"></div>
            <div class="text1">
              We can see that our strategy output has a very large relative standard deviation compared to the population, but also has a left skew, signaling larger trade returns.  Let's impliment a Z test between the population and sample means to find out if the sample returns are statistically significant.
            </div>
            <div style="height: 10px;"></div>

            <div class="modal1">
              <a href="#" class="popup-link3">CODE</a>
              <div class="popup-modal3">
              <div class="popup-content">
                  <h2>Python Code</h2>
                  <div class="code-div">
                  <code class="codeContent">
                    <pre>
ret_sample = RET_df.NextReturn

population_mean = np.nanmean(SS_df)
population_std = np.nanstd(SS_df)
ret_mean = np.mean(ret_sample)
ret_std = np.std(ret_sample, ddof=1)

n = len(ret_sample)
z = (ret_mean - population_mean) / (ret_std / np.sqrt(n))

p_value = 1 - norm.cdf(z)


print("Sample Mean:", round(ret_mean,5))
print("Sample Standard Deviation:", round(ret_std,5))
print("Population Mean:", round(population_mean,5))
print("Population Standard Deviation:", round(population_std,5))
print('Z-score', round(z, 5))
print('P-val', p_value)
                      
                  </pre>
                  </code>
                  </div>
                  </div>
              </div>
              <script src="/static/javascript/script3.js"></script>
          </div>





            <div style="height: 10px;"></div>

            <ul>
              <li>
              <p>Z  </p> = (X - u) / (std / sqtr(n))
            </li>
          
            <div style="height: 10px;"></div>

            <li>
              <p>P_val  </p> = 1 - norm.cdf(z)
            </li>
            <div style="height: 10px;"></div>
            <ul>
              <li>
              <p>Sample Mean: </p>1.801 %
              </li>
              <li>
              <p>Sample Std:</p>   8.021  %
              </li>
              <li>
                <p>Population Mean: </p>  0.061 %
              </li>
              <li>
                <p>Population Std: </p> 2.229 % 
              </li>
              <li>
                <p>Z-score: </p> 18.126 
              </li>
              <li>
                <p>P-val: </p> 0.0 %
              </li>
            </ul>
            <div style="height: 10px;"></div>
            <div class="text1">
              Looking at the sample std, this strategy seems to be very risky, but the model also tells us that it is significant and we can reject the null hypothesis. 
            </div>
            <div style="height: 10px;"></div>
            <img src="/static/Cumret2023.png" alt=""
            style="width: 27vw;
            border-radius:5px"
            >

              <ul>
                <li>
              <p>2023 Cumulative Return: </p> ~40% 
                </li>
                <li>
              <p>2023 Num Trades: </p> 172
                </li>
             </ul>
            <div style="height: 10px;"></div>
            <div class="text1">
              In addition to the positive return, the strategy outperformed the S&P500 in 62% of the quarters dating back to 2010.
            </div>
            <div style="height: 10px;"></div>
            <div class="text1">
              Returns are seldom statistically significant, though, and if we split samples quarterly, only four quarters reach below a p-value of 5%. This tells us that this strategy may be more effective in the right market conditions.

            </div>

            <div style="height: 10px;"></div>

            <div class="text1">
              We can see if this strategy generates alpha and how it correlates to market returns by running a regression on the market returns (X) versus the strategy returns (y).
            </div>
            <div style="height: 10px;"></div>

            <div class="modal1">
              <a href="#" class="popup-link6">CODE</a>
              <div class="popup-modal6">
              <div class="popup-content">
                  <h2>Python Code</h2>
                  <div class="code-div">
                  <code class="codeContent">
                    <pre>
current_year = datetime.datetime.now().year
start_year = 2010
months = []

for year in range(start_year, current_year + 1):
    for month in range(1, 13):
        month_start = datetime.datetime(year, month, 1)
        months.append(month_start)

months = [str(i) for i in months]
SS_df.index = SS_df.index

i_month = [], i_sample_m = [], i_sample_std = [], i_pop_m = [], i_pop_std = [], i_zscore = [], i_pval = [], i_SP_m = [], i_obs = []

SP500 = yf.download("^GSPC").Close
SP500 = pd.DataFrame(SP500.pct_change())

for i, j in zip(months, months[1:]):
    SS_df2 = SS_df[(SS_df.index > i) & (SS_df.index < j)]
    Viz_df2 = Viz_df[(Viz_df.Date > i) & (Viz_df.Date < j)]

    SP5002 = SP500[(SP500.index > i) & (SP500.index < j)]
    SP_m = np.nanmean(SP5002)

    population_mean2 = np.nanmean(SS_df2)
    population_std2 = np.nanstd(SS_df2)
    ret_mean2 = np.mean(Viz_df2.NextReturn)
    ret_std2 = np.std(Viz_df2.NextReturn, ddof=1)

    n2 = len(Viz_df2.NextReturn)
    z2 = (ret_mean2 - population_mean2) / (ret_std2 / np.sqrt(n2))

    p_value2 = round(1 - norm.cdf(z2), 3)

    i_month.append(i)
    i_sample_m.append(ret_mean2)
    i_sample_std.append(ret_std2)
    i_pop_m.append(population_mean2)
    i_pop_std.append(population_std2)
    i_zscore.append(z2)
    i_pval.append(p_value2)
    i_SP_m.append(SP_m)
    i_obs.append(n2)

df = pd.DataFrame({'date': i_month, 's_mean': i_sample_m, 's_std': i_sample_std,
                    'pop_mean': i_pop_m, 'pop_std': i_pop_std,
                    'z': i_zscore, 'p': i_pval, 'SP500': i_SP_m, 'Observations': i_obs})

df['Perform'] = np.where(df.s_mean > df.SP500, 'Outperform', 'Underperform')
df['ExcessReturns'] = df['s_mean'] - df['SP500']

slope, intercept, r_value, p_value, std_err = stats.linregress(df['SP500'], df['ExcessReturns'])
alpha = intercept
print("Alpha:", round(alpha,5))
print('Beta', round(slope, 5))
print("P_val:", round(p_value,5))  
                  </pre>
                  </code>
                  </div>
                  </div>
              </div>
              <script src="/static/javascript/script6.js"></script>
          
          </div>
          <div style="height: 10px;"></div>

          <ul>
            <li>
          <p>Alpha </p> .30%
            </li>
            <li>
          <p>Beta </p>  -.15
            </li>
            <li>
              <p>P-Val </p> .76
            </li>
         </ul>
          </div>

          <div class="col1">
            <div style="height: 10px;"></div>
            <div class="text1">
              We obtain an insignificant alpha, which may mean that additional factors, not the market, explain the high mean returns of the strategy.
            </div>
            <div style="height: 10px;"></div>
            <div class="subheader1">Other Variables</div>
            
            <div style="height: 10px;"></div>
            <div class="text1">
              We can look for additional variables to refine returns, and further experiment with the strategy.
            </div>
            <img src="/static/pop_v_mean.png" alt=""
            style="width: 27vw;
            border-radius:5px"
            >
            <div style="height: 10px;"></div>

            <div class="text1">
              One statistic that stood out was the sample return's correlation to the population's standard deviation (+62%).
              As we can see by the red regression line, this means that when the market is more volitile, this strategy usually performs better. 
            </div>
            <div class="text1">
              We can take looks at other filters of the historical data: What happens when the investment period is two days, instead of intraday? What if we were more selective with the companies we traded with?
            </div>

            <div style="height: 10px;"></div>
            <div class="subheader1">Results and Implimentation</div>
            <div style="height: 10px;"></div>
            <div class="text1">
              Let's build this strategy using the Robinhood API to automatically execute trades for us. The logic for the trades:
            </div>
            <div style="height: 10px;"></div>

            <div class="modal1">
              <a href="#" class="popup-link4">BUYLIST</a>
              <div class="popup-modal4">
              <div class="popup-content">
                  <h2>Python Code</h2>
                  <div class="code-div">
                  <code class="codeContent">
                    <pre>
def GetBuyStocks():
  ticker_ret = []
  ticker_loop = []

  #Get pct_change data for all tickers
  for i in tqdm(tickers.Symbol):
      try:
          today = datetime.today().strftime('%Y-%m-%d')
          previous_day = (datetime.today() - timedelta(days=1)).strftime('%Y-%m-%d')

          stock = yf.Ticker(i)
          history = stock.history(period='5d')

          today_close_price = history['Close'][-1]
          previous_close_price = history['Close'][-2]

          percent_change = ((today_close_price - previous_close_price) / previous_close_price) * 100

          ticker_ret.append(percent_change)
          ticker_loop.append(i)
      except:
          print('error with', i)

  daily_ret_df = pd.DataFrame({'Ticker': ticker_loop, 'pctchange': ticker_ret})
  final_list = []

  daily_ret_df = daily_ret_df[daily_ret_df.pctchange < -10]

  #Logic to filter stocks
  for j in daily_ret_df.Ticker:
      
      mkt_cap = yf.Ticker(j).info['marketCap']
      epoch = yf.Ticker(i).info['firstTradeDateEpochUtc']
      td = datetime.today() - datetime.fromtimestamp(epoch)
      
      if mkt_cap > 5e+9 and td.days > 400:
          final_list.append(j)
      
  return final_list
                
                  </pre>
                  </code>
                  </div>
                  </div>
              </div>
              <script src="/static/javascript/script4.js"></script>
          </div>
          <div style="height: 10px;"></div>

            <div class="modal1">
              <a href="#" class="popup-link5">BUY & SELL</a>
              <div class="popup-modal5">
              <div class="popup-content">
                  <h2>Python Code</h2>
                  <div class="code-div">
                  <code class="codeContent">
                    <pre>
def Buy(tick, num_shares):
    r.order_buy_fractional_by_quantity(tick, num_shares)
    
def Sell(tick, num_shares):
    r.order_sell_fractional_by_quantity(tick, num_shares) 
    
def buy_strategy(Buy_df):
    for i, j in zip(Buy_df.Tickers, Buy_df.Quantity):
        Buy(i, j)
        
def sell_strategy(Sell_df):
    for i, j in zip(Sell_df.Ticker, Sell_df.Quantity):
        Sell(i, j)
        
    

                
                  </pre>
                  </code>
                  </div>
                  </div>
              </div>
              <script src="/static/javascript/script5.js"></script>
          </div>
          </div>
        </div>
    </section>


    
      <div class="break1"></div>



    <section class="aboutme">
      <div class="Header1">
        <h2>About Me</h2>
      </div>
      <div class="content1" style="display: flex">
        <div class="col2">
          <div
            style="
              font-family: 'Georgia';
              font-weight: bold;
              text-align: left;
              border-bottom: 2px solid black;
              font-size:large
            "
          >
            Work Experience
          </div>
          <div style="height: 5px"></div>
          <div class="workbox">
            <p class="workdates" style="font-style: italic; font-weight: bold">
              09/2022 to 05/2023 -
            </p>
            <p>Data Analytics at Greystone Monticello</p>
          </div>
          <div class="workbox">
            <p class="workdates" style="font-style: italic; font-weight: bold">
              08/2020 to 09/2022 -
            </p>
            <p>Data Analytics at OpenExchange, Inc.</p>
          </div>
          <div style="height: 5px"></div>
          <div
            style="
              font-family: 'Georgia';
              font-weight: bold;
              text-align: left;
              border-bottom: 2px solid black;
              font-size:large
            "
          >
            Education
          </div>
          <div style="height: 5px"></div>
          <div class="workbox">
            <p class="workdates" style="font-style: italic; font-weight: bold">
              2016 to 2020 -
            </p>
            <p>Bachelor's Degree in Finance at Boston College</p>
          </div>
          <div class="workbox">
            <p class="workdates" style="font-style: italic; font-weight: bold">
              2021 -
            </p>
            <p>Master's Degree in Quantitative Finance at Boston College</p>
          </div>
          <div style="height: 5px"></div>
          <div
            style="
              font-family: 'Georgia';
              font-weight: bold;
              text-align: left;
              border-bottom: 2px solid black;
              font-size:large
            "
          >
            Technologies
          </div>
          <div style="height: 5px"></div>
          <div class="workbox">
            <p class="workdates" style="font-style: italic; font-weight: bold">
              Proficient -
            </p>
            <p>Python, SQL, HTML, CSS, Seaborn, Matplotlib</p>
          </div>
          <div class="workbox">
            <p class="workdates" style="font-style: italic; font-weight: bold">
              Familiar -
            </p>
            <p> Flask, Heroku, Sci-Kit Learn, Scipy</p>
          </div>
          <div class="workbox">
            <p class="workdates" style="font-style: italic; font-weight: bold">
              Basic - 
            </p>
            <p> AWS, Linux, PythonAnywhere</p>
            
          </div>
          <div class="workbox">
            <p class="workdates" style="font-style: italic; font-weight: bold">
             <div style="height: 40px;"></div>
            </p>

          </div>
        </div>

        <div class="col1">
          <div>
            <div class="Sean">
              <img src="/static/sean-3.png" alt="Sean" />
            </div>
          </div>
        </div>
        <div class="bottom-socials">
          <div class="social-media">
            <a href="https://www.linkedin.com/in/sean-mullins-3b2198127/"
              ><div class="linkedin">Linkedin</div></a
            >
            <a href="https://github.com/smullins998"
              ><div class="github">Github</div></a
            >
            <a href="mailto:smullins998@gmail.com"
              ><div class="email">Email</div></a
            >
            <a
              href="/static/Sean Mullins.pdf"
              download="/static/Sean Mullins.pdf"
              ><div class="resume">Resume</div></a
            >
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
