
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='portfolio.css') }}">
</head>

{% extends "home.html" %}



{% block header %}

<nav class="navbar">
    <a href="{{url_for('home')}}">Home</a>
    <a href="{{url_for('portfolio')}}" class='active' >Portfolio</a>


{% endblock header %}


</nav>

</header>

<section class="home">



{% block content %}

<body>
  
    
    <ul>
        <div class="divider">
            <a href="https://google.com">
                <box-icon name='paperclip' color="#ededed" animation="tada-hover" size='lg'></box-icon>
            </a>
        </div>
        <div class="divider">
            <a href="https://google.com">
                <box-icon name='paperclip' color="#ededed" animation="tada-hover" size='lg'></box-icon>
            </a>        
        </div>
        <div class="divider">
            <a href="https://google.com">
                <box-icon name='paperclip' color="#ededed" animation="tada-hover" size='lg'></box-icon>
            </a>  
        </div>
      </ul>

      <div class='descriptions'>
        <p>Description 1 goes here</p>
        <p>Description 2 goes here</p>
        <p>Description 3 goes here</p>
    </div>


    {% endblock content %}



</body>

</html>